.button {
    padding: 10px 25px;
    background-color: black;
    color:white;
    width:100px;
    text-align: center;
    border-radius: 5px;
    &:hover{
        cursor: pointer;
        background-color: rgb(56, 56, 56);
    }
}