.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.411);
  border-radius: 10px;
  padding: 20px 30px;
  color: white;
  width: 100%;
  max-width: 900px;
  h2 {
    width: 50px;
    font-weight: 800;
    margin: 0;
    padding: 0;
  }
}

.scoreContainer {
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 100px;
  p {
    padding: 0;
    margin: 5px;
    font-weight: 800;
  }
  .score {
    font-weight: 800;
    font-size: 30px;
    color: hsl(214, 47%, 23%);
  }
}
