*{
   padding: 0;
   margin: 0;

}

html{ 
   box-sizing: border-box;
   
   font-family: 'Nunito sans', sans-serif;
   height: 100vh;

}
body {
   background-color: hsl(214, 47%, 23%);

   height: 100vh;
   padding:  0 50px;
 }
 